header{
    font-family: 'comic sans ms';
    font-size: 30px;
    padding: 2px 4px 2px 2px;
    margin: 2px 2px 2px 0px;
    text-align: center;
}

    h1{
    font-family: 'comic sans ms';
    font-size: 30px;
    padding: 2px 4px 2px 2px;
    margin: 2px 2px 2px 0px;
    }

    h2, h3, h4{
    font-family: 'comic sans ms';
    font-size: 20px;
    padding: 2px 4px 2px 2px;
    margin: 2px 2px 2px 0px;
    text-align: center;
}
img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body{
    background-color: #4b10108a;
    font-family: 'arial';
    font-size: 16px;
    padding: 2px 4px 2px 2px;
    margin: 2px 2px 2px 0px;
    text-align: center;
}

section ul{
    list-style-type: square; 
    color:blanchedalmond;
}

ol{
    list-style-type: decimal;
    color:blanchedalmond;
    font-family: 'helvetica';
}

section div{
    border: solid 2px;
    border-color:black;
}

a:hover{
    color: #62063d;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

button:hover{
    background-color: #0faece;
    color: white;
}